/* header.css */
.header {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 2vw;
}

.header_menu {
    display: flex;
    gap: 3em;
    text-decoration: none;
    list-style: none;
}
