body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

nav ul {
    list-style-type: none; /* Propiedad corregida */
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    text-align: center;
    padding: 2em 0;
    background-color: #444;
}

section {
    padding: 2em;
    border-bottom: 1px solid #ccc;
}

h2 {
    text-align: center;
    color: #333;
}

.service, .review {
    margin: 1em 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer ul {
    list-style-type: none; /* Propiedad corregida */
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 1em;
}

footer ul li a {
    color: white;
    text-decoration: none;
}
